@font-face {
    font-family: 'PingFang';
    src: url('./assets/fonts/PingFangSaTuoTi-2.ttf') format('truetype');
    font-weight: normal; /* 常规字重 */
    font-style: normal;
    font-display: swap; /* 优化加载体验 */
}

@font-face {
    font-family: 'Itim';
    src: url('./assets/fonts/Itim-Regular.ttf') format('truetype');
    font-weight: normal; /* 常规字重 */
    font-style: normal;
    font-display: swap; /* 优化加载体验 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', 'PingFang', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}