#docPage {
    padding: 24px;
}

.header {
    padding: 0 15%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.leftarr {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 28px;
    transition: all 0.3s ease;
    border-radius: 8px;
}
.leftarr:hover {
    cursor: pointer;
    background: #eaeaea;
}

.editorContainer {
    margin-top: 16px;
    padding: 0 20%;
    width: 100%;
}

