#homePage {
    width: 100%;
    height: 100vh;
    padding: 24px;
}

.header {
    padding: 0 15%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    gap: 48px;
}

.main  {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon {
    width: 32px;
    height: 32px;
}

.title {
    margin-left: 8px;
    font-size: 20px;
}